:root{
    --verde_claro: #EAF2FD;
    --primary-blue:#2A7AE4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    background-color: rgb(219, 219, 213);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;

}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}
.header__div{
    display: flex;
    width: 100%;
    height: 50%;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
}

.header__div .nav__title{
    font-weight: bold;
    margin: 0 20px;
    font-size: 2rem;
}
.header__div li{
    list-style: none;
}

.header_menu_img{
    display: flex;
    justify-content: center;
    align-items:end;
    height: 50%;

}
.header_menu_img:hover{
    transform: scale(1.2);
}

 .header-nav{
    display: none;
    position: absolute;
    align-self: flex-end;
    top:calc(70px);
    left: calc(40%);
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0  0 5px  1px black;
    background-color: white;
    color: black;
}
.header-nav .header-nav__ul{
    list-style: none;
    
}
.header-nav .header-nav__ul li a{
   text-decoration: none;
   color: black;
}
.header-nav .header-nav__ul li:hover {
    transform: scale(1.1);
}
.header-nav-tablet{
    display: none;
}
main{
    width: 100%;
    height: auto;
}
.personal-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px;
}
.personal-data picture img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.personal-data span{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.personal-data p{
    font-size: 1.6rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 10px;

    padding: 0;
}
.personal-data__ul li{
    display: inline;
    margin: 0 10px 0 0;
}

.personal-data__ul img{
    position: relative;
    width: 20px;
    top: 3px;
    
}
.about-me
{
    width: 100%;
    height: auto;
    padding: 10px 10px;
    margin-top: 10px;
    background: var(--verde_claro);
}
.about-me p{
    margin: 10px;
}
.section-p{
    margin: 10px;
    padding: 0 5px;
}
.Skills,
.Hobbies,
.studies,
.laboral-experience{
   display: flex;
   flex-direction: column;
   background: var(--verde_claro);
}
.Skills div h2,
.Hobbies div h2,
.studies div h2,
.laboral-experience div h2{
    text-align: center;
    margin-bottom: 10px;
}
.Skills .Skills-logos,
.Hobbies .hobbies-logos
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
}
.studies .education-logos
{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr auto;
    justify-items: center;
}
.Skills .Skills-logos picture,
.Hobbies .hobbies-logos picture
{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100px;
    height: 80px;
    background-color: white;
}
.studies .education-logos picture,
.laboral-experience .laboral-experience-logos picture{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 90%;
    height: 80px;
    background-color: white;
}

.Hobbies .hobbies-logos .movies img{
    
    width: 100px;
    height: 80px;
}
.education-logos .sena img,
.education-logos .mision-tic img,
.education-logos .alura img,
.education-logos .platzi img{
    width: 100px;
    height: 60px;
}

.laboral-experience .laboral-experience-logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.laboral-experience .laboral-experience-logos p{
    margin: 10px;
}
.laboral-experience .laboral-experience-logos picture{
    height: auto;
}
.laboral-experience .laboral-experience-logos picture img{
    width: 80%;
    
}
 .primary{
  background-color:var(--primary-blue) ;
  color: white;
  padding: 10px;
  border: none;
 

}
 .secondary{
    border:1px solid var(--primary-blue);
    color: var(--primary-blue);
    padding: 10px;
    margin-right: 20px;
    
}
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--verde_claro);
    padding: 10px;
}
.contact-me .title{
    margin: 10px;
}
.contact-me .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-me .foto{
    display: none;
}
.contact-me .form label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-me .form label span{
    margin: 10px 0;
}
.contact-me .form label input{
    border: none;
    padding: 15px;
    
}
.contact-me .form label input:focus{
    border-bottom: 3px solid var(--primary-blue);
}

#mail{
    margin-bottom: 10px;
}
#asunto{
    margin-bottom: 10px;
}
#mensaje{
    margin-bottom: 10px;
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}



