*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: rgb(219, 219, 213);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;

}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}
.header__div{
    display: flex;
    width: 100%;
    height: 50%;
   align-items: center;
   justify-content: space-between;
}

.header__div .nav__title{
    font-weight: bold;
    margin: 0 20px;
    font-size: 2rem;
}
.header__div li{
    list-style: none;
}

.header_menu_img{
    display: flex;
    justify-content: center;
    align-items:end;
    height: 50%;

}
.header_menu_img:hover{
    transform: scale(1.2);
}

nav{
    display: none;
    position: absolute;
    align-self: flex-end;
    top:calc(70px);
    left: calc(40%);
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0  0 5px  1px black;
    background-color: white;
    color: black;
}
.header-nav .header-nav__ul{
    list-style: none;
    
}
.header-nav .header-nav__ul li a{
   text-decoration: none;
   color: black;
}
.header-nav .header-nav__ul li:hover {
    transform: scale(1.1);
}
main{
    width: 100%;
    height: auto;
}
.personal-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px;
}
.personal-data picture img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.personal-data span{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.personal-data p{
    font-size: 1.6rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 10px;

    padding: 0;
}
.personal-data__ul li{
    display: inline;
    margin: 0 10px 0 0;
}

.personal-data__ul img{
    position: relative;
    width: 20px;
    top: 3px;
    
}
.about-me
{
    width: 100%;
    height: auto;
    padding: 10px 10px;
    margin-top: 10px;
    background: #EAF2FD;
}
.about-me p{
    margin: 10px;
}
.Skills,
.Hobbies{
   display: flex;
   flex-direction: column;
}
.Skills div h2,
.Hobbies div h2{
    text-align: center;
    margin-bottom: 10px;
}
.Skills .Skills-logos,
.Hobbies .hobbies-logos
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
}
.Skills .Skills-logos picture,
.Hobbies .hobbies-logos picture{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100px;
    height: 80px;
    background-color: white;
}
 
.Hobbies .hobbies-logos .movies img{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100px;
    height: 80px;
    background-color: white;
}
footer{
    width: 100%;
    height: 100px;
    background-color: black;
}