@media (min-width:576px){
    .header__div .nav__title{
        margin: 30px auto;
        
       
    }
  
   
  
   .personal-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 40px;
   
}
.personal-data picture{
    width: 25%;
    order: 2;
}
.personal-data span{
    width: 75%;
    order: 1;
}
.personal-data p{
    width: 100%;
    order: 3;
}
.personal-data ul{
    width: 100%;
    order: 4;
}
.personal-data ul a{
font-size:2rem ;
}
    .studies .education-logos{
   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin-bottom: 20px;
    
    }
    .ufpr{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .alura{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .ufrj{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .studies .education-logos picture{
        width: 90%;
    }
    .studies .education-logos picture img{
        width: 100px;
    }
.Skills .Skills-logos,
.Hobbies .hobbies-logos
{
    grid-template-columns: 1fr 1fr  1fr;
  }
}
@media(min-width:1024px){
    h2{
        font-size:3rem ;
    }
    p{
        font-size: 2rem;
        text-align: center;
    }
    .header__div .nav__title{
        font-size:3rem ;
    }
    .header-nav-tablet{
      
        margin: 45px 170px;
        
        
    }
    .personal-data picture img{
        width: 160px;
        height: 160px;
       
    }
    .personal-data span{
        font-size: 3rem;
    }
    .personal-data p{
        font-size: 2.4rem;
    }
    .Skills .Skills-logos,
.Hobbies .hobbies-logos
{
    display: flex;
}

.secondary,
.primary{
    width: 150px;
    height: 60px;
    margin: 10px auto;
    font-size: 2rem;
}
.secondary{
    margin-right: 30px;
}
.laboral-experience__description{
    position: relative;
    right: -603px;
    top: -253px

}
.contact-me{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.contact-me .foto{
    display: block;
    width: 50%;
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url('./Image/telefono.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.contact-me .title{
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

.contact-me .form{
    width: 50%;
    grid-column: 2/3;
    grid-row: 2/3;
}
}